body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(225, 31, 31, 0.5);
  }
  
  .sesion {
    background-color: rgb(252, 252, 252, 0.925);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    width: 400px;
  }
  
  .sesion h2 {
    margin-bottom: 60px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
  }
  
  .sesion form {
    display: flex;
    flex-direction: column;
  }
  
  .sesion form div {
    margin-bottom: 20px;
  }
  
  .sesion label {
    margin-bottom: 5px;
    display: block;
    color: #000000;
  }
  
  .sesion input {
    background: rgba(150, 150, 150, 0.1);
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
  }
 
  .sesion button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .sesion button:hover {
    background-color: #0056b3;
  }