/* .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.width-Component h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.width-Component hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #0078d7, #00a2e8);
    margin: 20px auto;
    width: 100%;
} */
