.headers-components {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.headers-components:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.componen-opcion {
  width: 90%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px 40px 10px 40px;
}

.componen-opcion-2 {
  max-width: 1800px;
  width: 90%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.container-selects-2 {
  width: 45%;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0.5rem 0;
}

.container-descripcion{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-item {
  flex: 1 1 auto;
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 0 auto;
}

.select-item-2 {
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 0 auto;
}

.container-select {
  height: 4rem;
  padding-top: 0.2rem;
}

.style-selector {
  height: 1.5rem;
  width: 12rem;
  font-size: 0.7rem;
}

.label-select {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: #343a40;
}

.custom-form-group {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
}

.label-horizonte {
  width: 4rem;
}

.custom-container {
  margin-bottom: 1.5rem;
}

.custom-textarea {
  width: 15rem;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ced4da;
  resize: none;
}

.custom-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.custom-input {
  height: 1.5rem;
  width: 12rem;
  font-size: 0.7rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

