/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272323;
} */

/* CUERPO DEL SISTEMA */
.veoliaComponents {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bodyVeolia {
  /* height: 85%; */
  flex: 1 1 auto;
  overflow: auto;
}

.footerVeolia {
  /* height: 13%; */
  flex: 0 0 auto;
}

/* CUEERPO DE LOS COMPONENTES */
.headerComponent {
  /* background: red; */
  display: flex;
  flex-direction: column;
  height: 30%;
}

.tituloComponent {
  width: 100%;
  height: 23%;
  padding: 0.5rem 0rem 0rem 11rem;
}

.selectorComponent {
  width: 100%;
  height: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topListTable {
  margin-top: 5rem;
}

.bodyComponent {
  height: 70%;
}

.bodyComponentable {
  height: 46rem;
}

.componenTable {
  padding: 0rem 4rem;
}

.acctionTable {
  height: 4rem;
  display: flex;
  align-items: center;
}

.listTable {
  padding: 0rem 2rem;
  height: 4rem;
}

.tableVerificacion {
  display: grid;
}

.tableBorde {
  padding: 20px;
  border: 2px solid rgba( 0, 0, 0, 0.3);
  border-radius: 16px;
}

.tableVerificacion {
  padding: 20px;
  border: 2px solid rgba( 0, 0, 0, 0.3);
  border-radius: 16px;
  display: inline-block;
}


.tableBorde h5 {
  margin-bottom: 1rem;
}


/* SUMINISTROS */



