/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272323;
} */

/* CUERPO DEL SISTEMA */
.textMenu {
  font-size: 12px;
}

.cabezote {
  background: black;
  height: 2.8rem;
 }

.veoliaComponents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.bodyVeolia {
  /* height: 85%; */
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
}

.footerVeolia {
  /* height: 13%; */
  flex: 0 0 auto;
}

/* CUEERPO DE LOS COMPONENTES */
.headerComponent {
  background: rgba(255, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 100%;
}

.tituloComponent {
  /* background: violet; */
  width: 100%;
  height: 20%;
  padding: 0.5rem 0rem 0rem 11rem;
  display: flex;
  align-items: center;
}

.selectorComponent {
  width: 100%;
  height: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topListTable {
  margin-top: 5rem;
}

.bodyComponent {
  height: 65%;
}

.bodyComponentable {
  height: 46rem;
}

.componenTable {
  padding: 0rem 4rem;
}

.acctionTable {
  height: 4rem;
  display: flex;
  align-items: center;
}

.listTable {
  padding: 0rem 2rem;
  height: 4rem;
}

.tableVerificacion {
  display: grid;
}

.tableBorde {
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 100%;
}

.tableVerificacion {
  padding: 20px;
  border: 2px solid rgba( 0, 0, 0, 0.3);
  border-radius: 16px;
  display: inline-block;
}


.tableBorde h5 {
  margin-bottom: 1rem;
}


/* SELECTOR */
.selector {
  /* background: orange; */
  height: 80%;
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
}

.componenSelect {
  height: 5rem;
  width: 80%;
}

.selectores {
  height: 1.5rem;
  width: 70%;
  font-size: 0.7rem;
}

.labelSelect {
  font-size: 2vh;
}

/*MENU*/
.botonMenu {
  height: 2rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/*GRAFICOS*/
.graficos {
  width: 320px;
  height: 224px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

/*ETIQUETAS DE COSTO*/
#lista-tarjeta{
  list-style: none;
}
.panel{
  border: 1px;
  border-color: #C9C9C9;
  border-style: solid;
  border-radius: 8px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.7rem;
  box-shadow:0px 0px 5px 1px #C9C9C9;
  -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
  -moz-box-shadow:2px 2px 5px 5px #C9C9C9;
}
.tarjeta{
  border: 2px solid #F6F6F6;
  border-radius: 5px 40px 5px 5px;
  
  -webkit-box-shadow: 8px 5px 10px 4px #B1B1B1; 
  box-shadow: 8px 5px 10px 4px #B1B1B1;

  padding: 0.3rem;
  margin:0.5rem;
  width: 10rem;
  height: 6rem;
  color: #faf9fa;
}

.tarjeta span{
  position: relative;
  top: 3px;
}


.tarjeta p {
  margin: auto;
  text-align:center;
  top: 80%;
  font-size: 1.8rem;
}
.tarjeta small{
  text-align: center;
  top: 50%;
}
.hoverClass{
  cursor: pointer;
}

#top{
  height: 25%;
}
#medio{
  height: 50%;
  bottom: -5px;
}
#button{
  height: 25%;
  margin: auto;
  text-align: center;
}

/*TABLA COSTOS*/
.tableCosto {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 15px;
  text-align: left;
}

.theadCosto {
  background-color: #4CAF50;
  color: white;
}

.theadCosto th {
  padding: 12px;
}

.tbodyCosto tr:nth-child(even) {
  background-color: #f5f5f5;
}

.tbodyCosto tr:hover {
  background-color: #ddd;
}

.tbodyCosto td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.tbodyCosto tr {
  transition: background-color 0.3s ease;
}

.tableCosto th, td {
  text-align: center;
}

.tableCosto th {
  background-color: #f8f8f8;
  color: #333;
  border-bottom: 2px solid #4CAF50;
}

.tableCosto td {
  color: #333;
}

/*BORDE TABLA COSTO*/
.tabla-con-titulo {
  position: relative;
  border: 2px solid #ccc;
  padding-top: 20px; /* Para darle espacio al título */
  border-radius: 8px;
  margin-top: 20px;
  background-color: white;
  padding: 1rem;
}

.tituloCosto {
  position: absolute;
  top: -15px; /* Levanta el título sobre el borde del div */
  left: 20px;
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

/*BARRA DE PROGRESOS*/
.progress-bar-container {
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo disponible */
  background-color: #e0e0e0; /* Color de fondo de la barra */
  border-radius: 4px; /* Bordes redondeados */
  position: relative; /* Para posicionar el texto del porcentaje */
  height: 20px; /* Altura fija para la barra */
  margin-top: 10px; /* Espacio arriba de la barra, ajusta según sea necesario */
}

.progress-bar {
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4caf50;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.progress-bar-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-weight: bold;
  z-index: 2;
}
