/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272323;
} */

/* CUERPO DEL SISTEMA */
.cabezote {
  background: black;
  height: 2.8rem;
 }

.veoliaComponents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.bodyVeolia {
  /* height: 85%; */
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
}

.footerVeolia {
  /* height: 13%; */
  flex: 0 0 auto;
}

/* CUEERPO DE LOS COMPONENTES */
.headerComponent {
  background: rgba(255, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 100%;
}

.tituloComponent {
  /* background: violet; */
  width: 100%;
  height: 20%;
  padding: 0.5rem 0rem 0rem 11rem;
  display: flex;
  align-items: center;
}

.selectorComponent {
  width: 100%;
  height: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topListTable {
  margin-top: 5rem;
}

.bodyComponent {
  height: 65%;
}

.bodyComponentable {
  height: 46rem;
}

.componenTable {
  padding: 0rem 4rem;
}

.acctionTable {
  height: 4rem;
  display: flex;
  align-items: center;
}

.listTable {
  padding: 0rem 2rem;
  height: 4rem;
}

.tableVerificacion {
  display: grid;
}

.tableBorde {
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 100%;
}

.tableVerificacion {
  padding: 20px;
  border: 2px solid rgba( 0, 0, 0, 0.3);
  border-radius: 16px;
  display: inline-block;
}


.tableBorde h5 {
  margin-bottom: 1rem;
}


/* SELECTOR */
.selector {
  /* background: orange; */
  height: 80%;
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
}

.componenSelect {
  height: 5rem;
  width: 80%;
}

.selectores {
  height: 1.5rem;
  width: 70%;
  font-size: 0.7rem;
}

.labelSelect {
  font-size: 2vh;
}

/*MENU*/
.botonMenu {
  height: 2rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/*GRAFICOS*/
.graficos {
  width: 320px;
  height: 224px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}




